.card-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 300px;
}

.full-width {
	width: 100%;
	margin-bottom: 16px;
}

button {
	margin: 0.5em;
}

form {
	display: grid;
	grid-column: 1;
}